<ion-header>
  <ion-toolbar>
    <ion-title>Kedah</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]="sliderConfig">
  <ion-slide>
    <ion-card>
      <ion-list>
       <h1>PEK NGA: KEDAH</h1>
       <img src="/assets/ked1.PNG" alt="">
      </ion-list>

      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>

        <ion-item>300g tepung gandum</ion-item>
        <ion-item>1 biji kelapa parut</ion-item>
        <ion-item>1 sudu besar gula pasir</ion-item>
        <ion-item>1/2 sudu teh garam</ion-item>
        <ion-item>1 sudu teh mentega</ion-item>
        <ion-item>200 ml air</ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label>
        </ion-list-header>

        <ion-item>1. Masukkan semua bahan lempeng ke dalam pengisar kecuali mentega. Kisar sehingga halus</ion-item><br>
        <ion-item>2. Panaskan kuali leper dan sapukan sedikit mentega.</ion-item><br>
        <ion-item>3. Tuang satu senduk kecil adunan tepung tadi dan biar masak.</ion-item><br>
        <ion-item>4. Siap untuk dihidangkan.</ion-item><br>
      </ion-list>

      <ion-list>
        <ion-list-header>
          <ion-label>Video tutorial:</ion-label>
        </ion-list-header>

        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CYND9rxlY6Q" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-list><br>
    </ion-card>      
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-list>
       <h1>KUIH PENERAM: KEDAH</h1>
       <img src="/assets/ked2.PNG" alt="">
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>
  
        <ion-item>4 cawan tepung beras</ion-item>
        <ion-item>2 sudu besar tepung gandum</ion-item>
        <ion-item>1 cawan gula merah & gula pasir </ion-item>
        <ion-item>1 cawan air</ion-item>
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label>
        </ion-list-header>
  
        <ion-item>1.Campurkan gula merah, gula pasir dan air masak sehingga mendidih. </ion-item><br>
        <ion-item>2.Siap terus tuang dalam tepung dan kacau tepung sehingga sebati menggunakan senduk.</ion-item><br>
        <ion-item>3.Setelah siap gaul, perap selama 4 atau 5 jam.</ion-item><br>
        <ion-item>4.Siap perap, bolehlah tekap dan goreng.</ion-item><br>
        
      </ion-list>
  
      <ion-list>
        <ion-list-header>
          <ion-label>Video tutorial:</ion-label>
        </ion-list-header>
  
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4-SLey_LlOw" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-list><br>
    </ion-card>      
  </ion-slide>
</ion-slides>
</ion-content>
