<ion-header>
  <ion-toolbar>
    <ion-title>TENGAH HARI</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>NASI KERABU: KELANTAN</h1>
          <img src="/assets/kel1.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>Sebatang serai (diketuk)</ion-item>
           <ion-item>6 helai daun limau purut (buang urat tengah)</ion-item>
           <ion-item>Beras biasa</ion-item>
           <ion-item>Bunga telang (boleh guna pewarna biru jika tiada)</ion-item>
           <ion-item>1 biji kelapa parut</ion-item>
           <ion-item>6 ekor ikan selayang</ion-item>
           <ion-item>7 biji bawang merah kecil</ion-item>
           <ion-item>2 keping hirisan halia</ion-item>
           <ion-item>Lada hitam secukup rasa</ion-item>
           <ion-item>Gula,garam secukup rasa</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Goreng atau sangai kelapa parut tanpa minyak menggunakan api sederhana sehingga kelapa parut menjadi perang.  </ion-item><br>
           <ion-item>2.Rebus ikan selayang dengan asam keping dan garam secukup rasa. Ambil isi ikan. Ketepikan. </ion-item><br>
           <ion-item>3.Goreng atau sangai ikan sehingga kering dalam kuali tanpa minyak. Ketepikan.</ion-item><br>
           <ion-item>4.Hiris nipis serai, kemudian tumbuk bersama bawang merah, halia dan sedikit lada hitam.</ion-item><br>
           <ion-item>5.Masukkan ikan yang digoreng tadi, tumbuk lumat. Keluarkan dari lesung.</ion-item><br>
           <ion-item>6.Tumbuk kelapa yang digoreng tadi.</ion-item><br>
           <ion-item>7.Campurkan ikan, kelapa yang ditumbuk, garam dan gula. Gaul sehingga sebati</ion-item><br>
           <ion-item>8.Bagi tumis budu pula,kisar serai, bawang merah kecil, bawang putih, hirisan halia, cili kering dan gula melaka.  </ion-item><br>
           <ion-item>9.Masukkan bahan kisar ke dalam kuali, tambah 2 sudu besar minyak masak. Masukkan juga serai yang diketuk. Tumis sehingga garing.</ion-item><br>
           <ion-item>10.Masukkan santan, asam keping dan budu. Tumis sehingga pecah minyak.</ion-item><br>
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4SRMPajx5V4" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>MEE KOLOK: SARAWAK</h1>
          <img src="/assets/sw3.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>3-4 gulung mi sanggul</ion-item>
           <ion-item>1 sudu makan perencah sup</ion-item>
           <ion-item>100gm daging</ion-item>
           <ion-item>5 ulas bawang putih | dicincang</ion-item>
           <ion-item>8 biji cili api</ion-item>
           <ion-item>4 sudu makan minyak masak</ion-item>
           <ion-item>5 sudu teh kicap manis</ion-item>
           <ion-item>1 sudu teh kicap pekat</ion-item>
           <ion-item>Lada hitam secukup rasa</ion-item>
           <ion-item>Gula,garam secukup rasa</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Rebuskan mi bersama sedikit garam sehingga lembut (40 saat). Keluarkan dan toskan.  </ion-item><br>
           <ion-item>2.Panaskan 2 sudu besar minyak masak dalam kuali. Goreng bawang putih sehingga garing. Keluarkan. </ion-item><br>
           <ion-item>3.Masukkan pula mi yang telah ditoskan ke dalam kuali dan goreng sebentar menggunakan minyak bekas bawang tadi.</ion-item><br>
           <ion-item>4.Perasakan dengan cuka, sos ikan / sos soya dan sedikit garam. Keluarkan dan ketepikan.</ion-item><br>
           <ion-item>5.Di dalam kuali yang sama, panaskan 2 sudu besar minyak masak dan goreng daging yang telah dihiris tadi.</ion-item><br>
           <ion-item>6.Masukkan kicap pekat, 1/2 sudu besar kicap manis, serbuk lada hitam dan secubit garam.</ion-item><br>
           <ion-item>7.Penyediaan sambal pula, kisar cili api dengan 1 ulas bawang putih hingga lumat. Kemudian gaulkan bersama kicap manis dan perahan jus limau kasturi.</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QON5HBw14TA" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>GULAI KEMAHANG: PERAK</h1>
          <img src="/assets/per2.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>500 g pucuk kemahang</ion-item>
           <ion-item>10 biji cili api</ion-item>
           <ion-item>1 inci belacan</ion-item>
           <ion-item>100 g ikan bilis</ion-item>
           <ion-item>1 biji bawang besar</ion-item>
           <ion-item> 10 keping asam keping</ion-item>
           <ion-item>2 batang serai</ion-item>
           <ion-item>1 sudu teh serbuk kunyit</ion-item>
           <ion-item>1 Liter air</ion-item>
           <ion-item>Gula,garam secukup rasa</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Kisar cili api, belacan, ikan bilis, bawang besar dan serbuk kunyit. Kemudian masukkan bahan yang telah dikisar, pucuk kemahang, serai yang dititik dan asam keping ke dalam periuk dan rebus bersama-sama 500 ml air. rebus pucuk kemahang sehingga empuk dan lembut.  </ion-item><br>
           <ion-item>2.Perahan santan dijadikan 2 bahagian iaitu santan pekat dan santan cair. </ion-item><br>
           <ion-item>3. Setelah pucuk kemahang lembut dan empuk, masukkan santan cair dan masak sampai mendidih. Selepas 10 minit dan mendidih, masukkan santan pekat dan masukkan garam secukup rasa. </ion-item><br>
          
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hWDgrGzjn8I" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>
  
  
  </ion-slides>
</ion-content>
