<ion-header>
  <ion-toolbar>
    <ion-title>Melaka</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]="sliderConfig">
  <ion-slide>
    <ion-card>
      <ion-list>
        <h1>SAMBAL CENCALUK: MELAKA</h1>
        <img src="/assets/mel1.PNG" alt="">
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Bahan-bahan: </ion-label>
         </ion-list-header>
   
         <ion-item>2 sudu besar cencalok</ion-item>
         <ion-item>1/2 biji bawang besar</ion-item>
         <ion-item>1/4 biji tomato</ion-item>
         <ion-item>2 biji cili merah </ion-item>
         <ion-item>2 biji cili hijau</ion-item>
         <ion-item>secubit gula</ion-item>
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Cara-cara: </ion-label>
         </ion-list-header>
   
         <ion-item>1.Tumbuk cili. Kalau nak hiris pun tiada masalah.</ion-item><br>
         <ion-item>2.Hiris halus bawang besar dan tomato</ion-item><br>
         <ion-item>3.Campurkan semua bahan dengan cencalok dan juga secubit gula</ion-item><br>
         <ion-item>4.Gaul rata semua bahan.Siap untuk dihidang.</ion-item><br>
         
       </ion-list>
   
       <ion-list>
         <ion-list-header>
           <ion-label>Video tutorial:</ion-label>
         </ion-list-header>
   
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ISISw5Yj_L8" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-list><br>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
