<ion-header>
  <ion-toolbar>
    <ion-title>Kelantan</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [option]="sliderOptions">
  <ion-slide>
    <ion-card>
      <ion-list>
        <h1>NASI KERABU: KELANTAN</h1>
        <img src="/assets/kel1.PNG" alt="">
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <h1>Bahan-bahan:</h1>
         </ion-list-header>
   
         <ion-item>Sebatang serai (diketuk)</ion-item>
         <ion-item>6 helai daun limau purut (buang urat tengah)</ion-item>
         <ion-item>Beras biasa</ion-item>
         <ion-item>Bunga telang (boleh guna pewarna biru jika tiada)</ion-item>
         <ion-item>1 biji kelapa parut</ion-item>
         <ion-item>6 ekor ikan selayang</ion-item>
         <ion-item>7 biji bawang merah kecil</ion-item>
         <ion-item>2 keping hirisan halia</ion-item>
         <ion-item>Lada hitam secukup rasa</ion-item>
         <ion-item>Gula,garam secukup rasa</ion-item>
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <h1>Cara-cara:</h1>
         </ion-list-header>
   
         <ion-item>1.Goreng atau sangai kelapa parut tanpa minyak menggunakan api sederhana sehingga kelapa parut menjadi perang.  </ion-item><br>
         <ion-item>2.Rebus ikan selayang dengan asam keping dan garam secukup rasa. Ambil isi ikan. Ketepikan. </ion-item><br>
         <ion-item>3.Goreng atau sangai ikan sehingga kering dalam kuali tanpa minyak. Ketepikan.</ion-item><br>
         <ion-item>4.Hiris nipis serai, kemudian tumbuk bersama bawang merah, halia dan sedikit lada hitam.</ion-item><br>
         <ion-item>5.Masukkan ikan yang digoreng tadi, tumbuk lumat. Keluarkan dari lesung.</ion-item><br>
         <ion-item>6.Tumbuk kelapa yang digoreng tadi.</ion-item><br>
         <ion-item>7.Campurkan ikan, kelapa yang ditumbuk, garam dan gula. Gaul sehingga sebati</ion-item><br>
         <ion-item>8.Bagi tumis budu pula,kisar serai, bawang merah kecil, bawang putih, hirisan halia, cili kering dan gula melaka.  </ion-item><br>
         <ion-item>9.Masukkan bahan kisar ke dalam kuali, tambah 2 sudu besar minyak masak. Masukkan juga serai yang diketuk. Tumis sehingga garing.</ion-item><br>
         <ion-item>10.Masukkan santan, asam keping dan budu. Tumis sehingga pecah minyak.</ion-item><br>
       </ion-list>
   
       <ion-list>
         <ion-list-header>
           <h1>Video tutorial:</h1>
         </ion-list-header>
   
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4SRMPajx5V4" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-list><br>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-list>
       <h1>KUIH CEK MEK MOLEK: KELANTAN</h1>
       <img src="/assets/kel2.PNG" alt="">
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>
  
        <ion-item>Ubi keledek oren</ion-item>
        <ion-item>Tepung gandum</ion-item>
        <ion-item>Sedikit gula</ion-item>
        
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label>
        </ion-list-header>
  
        <ion-item>1.Rebus ubi sampai empuk. Lenyekkan.  </ion-item><br>
        <ion-item>2.Ubi yang telah dilenyek diuli dan digaul bersama tepung gandum. Agak agak lah kelembutan adunannya. Kalau terlebih gandum, adunan menjadi keras.</ion-item><br>
        <ion-item>3.Bentukkan kuih cek mek molek. Masukkan sesudu gula dan dibentuk membujur.</ion-item><br>
        <ion-item>4.Goreng dalam minyak panas yang banyak dengan api perlahan agar gula hancur menjadi air gula semasa digoreng.</ion-item><br>
        <ion-item>5.Angkat bila kekuningan. Awas gula panas, jadi berhati hati jika makan kuih cek mek molek semasa panas panas.</ion-item><br>
        
      </ion-list>
  
      <ion-list>
        <ion-list-header>
          <ion-label>Video tutorial:</ion-label>
        </ion-list-header>
  
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/M_woVA7fDCU" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-list><br>
    </ion-card>      
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-list>
       <h1>SATAR IKAN: KELANTAN</h1>
       <img src="/assets/kel3.PNG" alt="">
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>
  
        <ion-item>1 kilo ikan sardin/selayang(ambil isinya)</ion-item>
        <ion-item>500gm kelapa muda</ion-item>
        <ion-item>250gm bawang merah </ion-item>
        <ion-item>1 ikat daun kesum</ion-item>
        <ion-item>Bahan perasa, garam dan gula secukupnya</ion-item>
        <ion-item>30 biji lada burung</ion-item>
        <ion-item>Daun pisang(untuk membungkus)</ion-item>
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label>
        </ion-list-header>
  
        <ion-item>1.Kisar isi ikan, lada burung dan bawang merah hingga lumat. </ion-item><br>
        <ion-item>2.Kemudian masukkan bahan kisar ke dalam bekas.</ion-item><br>
        <ion-item>3.Masukkan kelapa muda parut, daun kesum, garam, gula dan perasa. Gaul sebati.</ion-item><br>
        <ion-item>4.Ambil daun pisang, bentukkan kon dan isi satar tadi. Bakar hingga masak.</ion-item><br>
        
      </ion-list>
      </ion-card>
      </ion-slide>

</ion-slides>
</ion-content>
