<ion-header>
  <ion-toolbar>
    <img class="ion-text-center" src="/assets/logo.PNG">
  </ion-toolbar>
</ion-header>

<ion-content color="softpink" >
  <img src="/assets/ttahu.PNG" alt="">
 <ion-slides  [options]="sliderOptions" pager style="margin-top: 30;" >
   <ion-slide>
    <ion-card text-center-padding style="border-radius: 15px" >
     <img src="/assets/c1.PNG" alt="">
     </ion-card>
   </ion-slide>

   <ion-slide>
    <ion-card text-center-padding style="border-radius: 15px">
    <img src="/assets/c2.PNG" alt="">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card text-center-padding style="border-radius: 15px">
    <img src="/assets/c3.PNG" alt="">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card text-center-padding style="border-radius: 15px">
    <img src="/assets/c4.PNG" alt="">
    </ion-card>
  </ion-slide>

 </ion-slides>
  
</ion-content>
