<ion-header>
  <ion-toolbar>
    <img class="ion-text-center" src="/assets/logo.PNG">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="softpink">
  <div class="tab">
    <input type="checkbox" id="tab-one" name="tabs">
    <label for="tab-one">
      <p>Apakah 3M: Mak Mak Menu?</p>
    </label>
    <div class="tab-content">
      <p>
        Sebuah aplikasi direka khas untuk permudahkan
        kehidupan seharian pengguna.
        Aplikasi resepi makanan ini mempunyai variasi resepi yang membolehkan
        pengguna membuat rujukan.
      </p>
    </div>
  </div>

  <div class="tab">
    <input type="checkbox" id="tab-two" name="tabs">
    <label for="tab-two">
      <p>Adakah pengguna perlu mempunyai akaun untuk menggunakan aplikasi ini?</p>
    </label>
    <div class="tab-content">
      <p>
        Tidak, pengguna boleh mengakses aplikasi ini secara bebas tanpa 
        terikat untuk mencipta akaun baru.
      </p>
    </div>
  </div>

  <div class="tab">
    <input type="checkbox" id="tab-three" name="tabs">
    <label for="tab-three">
      <p>Adakah semua resepi yang disediakan mengikut negeri-negeri di Malaysia?</p>
    </label>
    <div class="tab-content">
      <p>
        Ya. Demi membawa kelainan kepada penggune, kami berkongsi resepi yang 
        asli daripada setiap negeri.
      </p>
    </div>
  </div>

  <div class="tab">
    <input type="checkbox" id="tab-four" name="tabs">
    <label for="tab-four">
      <p>Adakah aplikasi 3M: Mak Mak Menu ini berbayar?</p>
    </label>
    <div class="tab-content">
      <p>
        Tidak sama sekali. Pengguna boleh menggunakan aplikasi ini secara percuma.
      </p>
    </div>
  </div>

  <div class="tab">
    <input type="checkbox" id="tab-five" name="tabs">
    <label for="tab-five">
      <p>Jika saya mempunyai sebarang kesukaran atau masalah apabila mengakses aplikasi ini, 
        bagaimanakah saya ingin menghubungi pihak anda?</p>
    </label>
    <div class="tab-content">
      <p>
        Pengguna boleh meninggalkan mesej atau pandangan di email kami: makmakmenu@gmail.com.
      </p>
    </div>
  </div>
</ion-content>
