<ion-header>
  <ion-toolbar>
    <ion-title>MAKAN MALAM</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>RENDANG CILI PADI: N.SEMBILAN</h1>
          <img src="/assets/ns1.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>1 ekor ayam</ion-item>
           <ion-item>1/2 kotak santan kotak</ion-item>
           <ion-item>2 - 4 batang serai - ketuk</ion-item>
           <ion-item>2 sudu besar cili kering kisar </ion-item>
           <ion-item>1 keping asam keping</ion-item>
           <ion-item>1 sudu besar kerisik</ion-item>
           <ion-item>Gula, garam</ion-item>
           <ion-item>Sedikit serbuk kunyit</ion-item>
           <ion-item>Minyak untuk menumis</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Panaskan kuali dan masukkan minyak. Tumis bahan kisar, serai dan cili kisar hingga air agak kering sedikit.  </ion-item><br>
           <ion-item>2.Masukkan ayam dan masak sehingga ayam kecut.</ion-item><br>
           <ion-item>3.Masukkan santan dan air secukupnya. Bila mendidih masukkan asam keping, gula dan garam. Bila hampir terbit minyak, masukkan kerisik</ion-item><br>
           <ion-item>4.Masak sehingga rendang hampir kering dan terbit minyak. Bolehlah ditutup api. Sedia untuk dinikmati.</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Q_cxa4wsVrI" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>SAMBAL CENCALUK: MELAKA</h1>
          <img src="/assets/mel1.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>2 sudu besar cencalok</ion-item>
           <ion-item>1/2 biji bawang besar</ion-item>
           <ion-item>1/4 biji tomato</ion-item>
           <ion-item>2 biji cili merah </ion-item>
           <ion-item>2 biji cili hijau</ion-item>
           <ion-item>secubit gula</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Tumbuk cili. Kalau nak hiris pun tiada masalah.</ion-item><br>
           <ion-item>2.Hiris halus bawang besar dan tomato</ion-item><br>
           <ion-item>3.Campurkan semua bahan dengan cencalok dan juga secubit gula</ion-item><br>
           <ion-item>4.Gaul rata semua bahan.Siap untuk dihidang.</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ISISw5Yj_L8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>IKAN PATIN TEMPOYAK: PAHANG</h1>
          <img src="/assets/mel1.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>1 ekor ikan patin</ion-item>
           <ion-item>1 senduk tempoyak</ion-item>
           <ion-item>1 ikat daun kesum</ion-item>
           <ion-item>1 batang bunga kantan </ion-item>
           <ion-item>7-15 biji cili api</ion-item>
           <ion-item>1 inci kunyit hidup</ion-item>
           <ion-item>air secukupnya</ion-item>
           <ion-item>gula dan garam secukupnya</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Masukkan bahan-bahan ke dalam mesin pengisar, dan kisar dengan sedikit air.</ion-item><br>
           <ion-item>2.Dah siap blender, tuang ke dalam periuk. Letakkan sekali daun kesum dan bunga kantan</ion-item><br>
           <ion-item>3.Apabila dah mendidih baru masukkan ikannya. Perasakan dengan gula dan garam.</ion-item><br>
           <ion-item>4.Tunggu sehingga masak.</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3vo8bGNjQX0" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
