<ion-header>
  <ion-toolbar>
    <ion-title>Perak</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]=sliderConfig>
  <ion-slide>
    <ion-card>
      <ion-list>
        <h1>GULAI KEMAHANG: PERAK</h1>
        <img src="/assets/per2.PNG" alt="">
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Bahan-bahan: </ion-label>
         </ion-list-header>
   
         <ion-item>500 g pucuk kemahang</ion-item>
         <ion-item>10 biji cili api</ion-item>
         <ion-item>1 inci belacan</ion-item>
         <ion-item>100 g ikan bilis</ion-item>
         <ion-item>1 biji bawang besar</ion-item>
         <ion-item> 10 keping asam keping</ion-item>
         <ion-item>2 batang serai</ion-item>
         <ion-item>1 sudu teh serbuk kunyit</ion-item>
         <ion-item>1 Liter air</ion-item>
         <ion-item>Gula,garam secukup rasa</ion-item>
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Cara-cara: </ion-label>
         </ion-list-header>
   
         <ion-item>1.Kisar cili api, belacan, ikan bilis, bawang besar dan serbuk kunyit. Kemudian masukkan bahan yang telah dikisar, pucuk kemahang, serai yang dititik dan asam keping ke dalam periuk dan rebus bersama-sama 500 ml air. rebus pucuk kemahang sehingga empuk dan lembut.  </ion-item><br>
         <ion-item>2.Perahan santan dijadikan 2 bahagian iaitu santan pekat dan santan cair. </ion-item><br>
         <ion-item>3. Setelah pucuk kemahang lembut dan empuk, masukkan santan cair dan masak sampai mendidih. Selepas 10 minit dan mendidih, masukkan santan pekat dan masukkan garam secukup rasa. </ion-item><br>
        
         
       </ion-list>
   
       <ion-list>
         <ion-list-header>
           <ion-label>Video tutorial:</ion-label>
         </ion-list-header>
   
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hWDgrGzjn8I" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-list><br>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
