<ion-header>
  <ion-toolbar>
    <ion-title>Sabah</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]="sliderConfig">
  <ion-slide>
    <ion-card>
      <ion-list>
        <h1>PINASAKAN</h1>
        <img src="/assets/sb4.PNG" alt="">
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Bahan-bahan: </ion-label>
         </ion-list-header>
   
         <ion-item>Ikan Tenggiri ( Sederhana)</ion-item>
         <ion-item>6 Ulas Bawang Merah (dihiris)</ion-item>
         <ion-item>2 Ulas Bawang Putih (dihiris)</ion-item>
         <ion-item>3-4 biji Limau Kapas (Ambil jusnya)</ion-item>
         <ion-item>Sedikit garam, serbuk perasa, Halia</ion-item>
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Cara-cara: </ion-label>
         </ion-list-header>
   
         <ion-item>1.Ikan tenggiri dibersihkan terlebih dahulu, kemudian dicincang hingga lumat  </ion-item><br>
         <ion-item>2.Tuangkan sedikit air panas ke atas isi ikan tersebut selama 1 minit dan toskan</ion-item><br>
         <ion-item>3.Semua bahan yang telah dihiris halus tadi digaulkan</ion-item><br>
         <ion-item>4.Kemudian dicampur dengan jus limau kapas</ion-item><br>
      
       </ion-list>
   
       <ion-list>
         <ion-list-header>
           <ion-label>Video tutorial:</ion-label>
         </ion-list-header>
   
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zewJrROsYow" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-list><br>
    </ion-card>
  </ion-slide>
</ion-slides>

</ion-content>
