<ion-header>
  <ion-toolbar>
    <ion-title>DIET</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>SAYUR MIDIN: SARAWAK</h1>
          <img src="/assets/sw2.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>1 ikat midin</ion-item>
           <ion-item>1 ulas bawang merah dan putih</ion-item>
           <ion-item>1/2 genggam bilis </ion-item>
           <ion-item>1 kiub belacan</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Tumiskan bawang merah dan putih,bilis dan belacan yang sudah ditumbuk </ion-item><br>
           <ion-item>2.Apabila sudah naik bau,masukkan midin yang sudah dibersihkan.</ion-item><br>
           <ion-item>3.Masukkan secubit perasa.Belacan dah masin ye.So jangan letak banyak</ion-item><br>
           <ion-item>4.Biarkan beberapa minit dan siap!Sedia untuk dihidang</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KuUNm5IruLw" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
         <h1>SATAR IKAN: KELANTAN</h1>
         <img src="/assets/kel3.PNG" alt="">
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <ion-label>Bahan-bahan: </ion-label>
          </ion-list-header>
    
          <ion-item>1 kilo ikan sardin/selayang(ambil isinya)</ion-item>
          <ion-item>500gm kelapa muda</ion-item>
          <ion-item>250gm bawang merah </ion-item>
          <ion-item>1 ikat daun kesum</ion-item>
          <ion-item>Bahan perasa, garam dan gula secukupnya</ion-item>
          <ion-item>30 biji lada burung</ion-item>
          <ion-item>Daun pisang(untuk membungkus)</ion-item>
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <ion-label>Cara-cara: </ion-label>
          </ion-list-header>
    
          <ion-item>1.Kisar isi ikan, lada burung dan bawang merah hingga lumat. </ion-item><br>
          <ion-item>2.Kemudian masukkan bahan kisar ke dalam bekas.</ion-item><br>
          <ion-item>3.Masukkan kelapa muda parut, daun kesum, garam, gula dan perasa. Gaul sebati.</ion-item><br>
          <ion-item>4.Ambil daun pisang, bentukkan kon dan isi satar tadi. Bakar hingga masak.</ion-item><br>
          
        </ion-list>
    
        <ion-list>
          <ion-list-header>
            <ion-label>Video tutorial:</ion-label>
          </ion-list-header>
    
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zf7AbymsuDM" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-list><br>
      </ion-card>      
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
         <h1>EMPING BERAS: PERLIS</h1>
         <img src="/assets/per3.PNG" alt="">
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <ion-label>Bahan-bahan: </ion-label>
          </ion-list-header>
    
          <ion-item>1 mangkuk emping padi</ion-item>
          <ion-item>1 mangkuk kelapa parut</ion-item>
          <ion-item>1 sudu teh garam</ion-item>
          <ion-item>1 sudu teh gula</ion-item>
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <ion-label>Cara-cara: </ion-label>
          </ion-list-header>
    
          <ion-item>1.Masukkan emping padi ke dalam mangkuk </ion-item><br>
          <ion-item>2.Campurkan dengan kelapa parut. Gaul rata. Perasakan dengan gula dan garam secukup rasa.</ion-item><br>
          <ion-item>3.Siap dihidang.</ion-item><br>
         
          
        </ion-list>
    
        <ion-list>
          <ion-list-header>
            <ion-label>Video tutorial:</ion-label>
          </ion-list-header>
    
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Oq_rFn9-8Sw" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-list><br>
      </ion-card>      
    </ion-slide>
  </ion-slides>
</ion-content>
