<ion-header>
  <ion-toolbar>
    <ion-title>S A R A P A N</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-card>
        <ion-list>
         <h1>BUBUR PEDAS: SARAWAK</h1>
         <img src="/assets/sw1.PNG" alt="">
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <h2>Bahan-bahan: </h2>
          </ion-list-header>
    
          <ion-item>1 bungkus rempah bubur pedas</ion-item>
          <ion-item>1 biji keledek (saiz sederhana)</ion-item>
          <ion-item>250 gram udang (boleh digantikan daging atau ayam)</ion-item>
          <ion-item>3 batang kacang panjang</ion-item>
          <ion-item>1 biji terung panjang, segenggam udang kering2</ion-item>
          <ion-item>3-4 batang jagung muda</ion-item>
          <ion-item>Sedikit cendawan cina ( hitam )</ion-item>
          <ion-item>3 ulas bawang putih</ion-item>
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <h2>Cara-cara: </h2>
          </ion-list-header>
    
          <ion-item>1.Tumis bawang merah,bawang putih,belacan,udang kering dan cili yang telah ditumbuk halus.</ion-item><br>
          <ion-item>2.Setelah naik bau,masukkan serai,rempah bubur pedas dan air,masak hingga mendidih. Masukkan udang dan kesemua sayur-sayuran . </ion-item><br>
          <ion-item>3.Masukkan santan, akhir sekali masukkan garam dan serbuk perasa.  </ion-item><br>
          <ion-item>4.Masak sehingga agak pekat sedikit barulah dihidangkan. </ion-item><br>
          
        </ion-list>
    
        <ion-list>
          <ion-list-header>
            <h2>Video tutorial:</h2>
          </ion-list-header>
    
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bvXQYM5UOlA" frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-list><br>
      </ion-card>      
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
         <h1>PAUNG GORENG: TERENGGANU</h1>
         <img src="/assets/t6.PNG" alt="">
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <h2>Bahan-bahan: </h2>
          </ion-list-header>
    
          <ion-item>5-6 ekor ikan selayang (sardin) direbus dengan asam keping dan garam</ion-item>
          <ion-item>2 cawan santan segar</ion-item>
          <ion-item>5 ulas bawang merah</ion-item>
          <ion-item>1/2 inci halia dihiris halus </ion-item>
          <ion-item>Secubit lada hitam</ion-item>
          <ion-item>1/2 sudu kecil halba</ion-item>
          <ion-item>1 sudu kecil garam Himalaya atau secukup rasa</ion-item>
          <ion-item>1 sudu kecil gula tebu asli organik</ion-item>
          <ion-item>2 1/2 cawan tepung pulut</ion-item>
          <ion-item>1/2 cawan tepung beras</ion-item>
          <ion-item>1/2 santan pekat</ion-item>
          <ion-item>1/2 cawan air</ion-item>
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <h2>Cara-cara: </h2>
          </ion-list-header>
    
          <ion-item>1.Ikan yang telah direbus, dibuang tulang.</ion-item><br>
          <ion-item>2.Kisar isi ikan tadi dengan semua bahan </ion-item><br>
          <ion-item>3.Tuang bahan kisar tadi dalam bread maker dan masukkan bahan-bahan lain. Pilih mod "Jam" dan ulang mod sehingga agak kering.  </ion-item><br>
          <ion-item>4.Sekiranya tiada bread maker, masak menggunakan api kecil sehingga inti agak kering (biarkan sedikit lembap) dan ketepikan. </ion-item><br>
          <ion-item>5.Gaulkan semua bahan sehingga menjadi doh. Rehatkan doh 1-2 jam pada suhu bilik. Pastikan bekas ditutup untuk mengelakkan doh mengering</ion-item><br>
          <ion-item>6.Ambil sedikit doh, lebih kurang sebesar bola golf, leperkan, masukkan inti dan tutup. Ulang sehingga doh habis. </ion-item><br>
          <ion-item>7.Panaskan minyak dalam kuali, pastikan minyak tidak terlampau panas supaya kuih tidak meletup apabila digoreng. </ion-item><br>
          <ion-item>8.Goreng paung tadi sehingga keperangan. Sedia dihidang panas-panas.</ion-item><br>
        </ion-list>
    
        <ion-list>
          <ion-list-header>
            <h2>Video tutorial:</h2>
          </ion-list-header>
    
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gS7IpGXvNMQ" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-list><br>
      </ion-card>      
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
         <h1>BUBUR ANAK LEBAH: PERAK</h1>
         <img src="/assets/per1.PNG" alt="">
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <h2>Bahan-bahan: </h2>
          </ion-list-header>
    
          <ion-item>3 cawan tepung beras</ion-item>
          <ion-item>2 sudu besar tepung gandum</ion-item>
          <ion-item>1/2 sudu teh garam</ion-item>
          <ion-item>daun pandan dimesin ngan sedikit air </ion-item>
          <ion-item>sedikit pewarna hijau</ion-item>
          <ion-item>500 ml santan pekat</ion-item>
          <ion-item>3/4 cawan gula merah</ion-item>
          <ion-item>5 sudu besar gula pasir</ion-item>
          <ion-item>secubit garam</ion-item>
          <ion-item>air secukupnya</ion-item>
          <ion-item>2 helai daun pandan</ion-item>
         
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <h2>Cara-cara: </h2>
          </ion-list-header>
    
          <ion-item>1.campurkan semua bahan kecuali air pandan gaul rata.</ion-item><br>
          <ion-item>2.masukkan air pandan sedikit demi sedikit hingga jadi doh yang lembut sesuai untuk ditenyeh diatas acuan. </ion-item><br>
          <ion-item>3.campur kesemua bahan untuk kuah rasakan manis ikut kesesuaian, air bubuh lebih skit sebab nanti kuah akan memekat bila masukkan adunan tepung.  </ion-item><br>
          <ion-item>4.Masak kuah hingga mendidih, bila dah mendidih perlahan kan api </ion-item><br>
          <ion-item>5.Kemudian letakkan acuan diatas periuk panas tadi, bentukkan tepung guna sudu.</ion-item><br>
          <ion-item>6.Sambil-sambil bentukkan tu kita kacau sebentar </ion-item><br>
          <ion-item>7.Buat hingga habis semua adunan. </ion-item><br>
          
        </ion-list>
    
        <ion-list>
          <ion-list-header>
            <h2>Video tutorial:</h2>
          </ion-list-header>
    
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/th6Rjj1W2s8" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-list><br>
      </ion-card>      
    </ion-slide>
  </ion-slides>
</ion-content>
