<ion-header>
  <ion-toolbar>
    <ion-title>Negeri Sembilan</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]="sliderConfig">
  <ion-slide>
    <ion-card>
      <ion-list>
        <h1>RENDANG CILI PADI: N.SEMBILAN</h1>
        <img src="/assets/ns1.PNG" alt="">
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Bahan-bahan: </ion-label>
         </ion-list-header>
   
         <ion-item>1 ekor ayam</ion-item>
         <ion-item>1/2 kotak santan kotak</ion-item>
         <ion-item>2 - 4 batang serai - ketuk</ion-item>
         <ion-item>2 sudu besar cili kering kisar </ion-item>
         <ion-item>1 keping asam keping</ion-item>
         <ion-item>1 sudu besar kerisik</ion-item>
         <ion-item>Gula, garam</ion-item>
         <ion-item>Sedikit serbuk kunyit</ion-item>
         <ion-item>Minyak untuk menumis</ion-item>
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Cara-cara: </ion-label>
         </ion-list-header>
   
         <ion-item>1.Panaskan kuali dan masukkan minyak. Tumis bahan kisar, serai dan cili kisar hingga air agak kering sedikit.  </ion-item><br>
         <ion-item>2.Masukkan ayam dan masak sehingga ayam kecut.</ion-item><br>
         <ion-item>3.Masukkan santan dan air secukupnya. Bila mendidih masukkan asam keping, gula dan garam. Bila hampir terbit minyak, masukkan kerisik</ion-item><br>
         <ion-item>4.Masak sehingga rendang hampir kering dan terbit minyak. Bolehlah ditutup api. Sedia untuk dinikmati.</ion-item><br>
         
       </ion-list>
   
       <ion-list>
         <ion-list-header>
           <ion-label>Video tutorial:</ion-label>
         </ion-list-header>
   
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Q_cxa4wsVrI" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-list><br>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
