<ion-header>
  <ion-toolbar>
    <ion-title>Pulau Pinang</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>POPIA BASAH: PULAU PINANG</h1>
          <img src="/assets/popia1.jpg" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>1 kg tepung gandum</ion-item>
           <ion-item>4 1/2 cawan air</ion-item>
           <ion-item>1 biji telur(telur putih sahaja)</ion-item>
           <ion-item>5-7 sudu makan minyak masak </ion-item>
           <ion-item>5 camca teh garam atau secukupnya</ion-item>
           <ion-item>1/4 inci halia (dimayang)</ion-item>
           <ion-item>3 sudu makan udang geragau (dikisar kering)</ion-item>
           <ion-item>200 gram taugeh (dibuang akar)</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Masukkan air, putih telur, minyak masak dan garam kedalam mangkuk adunan dan kacau sebati. </ion-item><br>
           <ion-item>2. Kemudian masukkan tepung gandum dan gaulkan sehingga sebati serta pastikan adunan tepung tadi akan terbentuk seperti gam</ion-item><br>
           <ion-item>3.Apabila tepi kulit popia terangkat sedikit, bolehlah diangkat.</ion-item><br>
           <ion-item>4.Tumis bahan-bahan yang dimayang sehingga naik bau, masukkan udang geragau kisar dan tumis hingga sedikit garing. </ion-item><br>
           <ion-item>5.Masukkan lobak merah dan sengkuang cina gaul sehingga sedikit lembut, masukkan Taugeh, garam dan gula..</ion-item><br>
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/i-uGtiagGQk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
