<ion-header>
  <ion-toolbar>
    <ion-title>Sarawak</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderConfig">
    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>MEE KOLOK: SARAWAK</h1>
          <img src="/assets/sw3.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>3-4 gulung mi sanggul</ion-item>
           <ion-item>1 sudu makan perencah sup</ion-item>
           <ion-item>100gm daging</ion-item>
           <ion-item>5 ulas bawang putih | dicincang</ion-item>
           <ion-item>8 biji cili api</ion-item>
           <ion-item>4 sudu makan minyak masak</ion-item>
           <ion-item>5 sudu teh kicap manis</ion-item>
           <ion-item>1 sudu teh kicap pekat</ion-item>
           <ion-item>Lada hitam secukup rasa</ion-item>
           <ion-item>Gula,garam secukup rasa</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Rebuskan mi bersama sedikit garam sehingga lembut (40 saat). Keluarkan dan toskan.  </ion-item><br>
           <ion-item>2.Panaskan 2 sudu besar minyak masak dalam kuali. Goreng bawang putih sehingga garing. Keluarkan. </ion-item><br>
           <ion-item>3.Masukkan pula mi yang telah ditoskan ke dalam kuali dan goreng sebentar menggunakan minyak bekas bawang tadi.</ion-item><br>
           <ion-item>4.Perasakan dengan cuka, sos ikan / sos soya dan sedikit garam. Keluarkan dan ketepikan.</ion-item><br>
           <ion-item>5.Di dalam kuali yang sama, panaskan 2 sudu besar minyak masak dan goreng daging yang telah dihiris tadi.</ion-item><br>
           <ion-item>6.Masukkan kicap pekat, 1/2 sudu besar kicap manis, serbuk lada hitam dan secubit garam.</ion-item><br>
           <ion-item>7.Penyediaan sambal pula, kisar cili api dengan 1 ulas bawang putih hingga lumat. Kemudian gaulkan bersama kicap manis dan perahan jus limau kasturi.</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QON5HBw14TA" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
          <h1>SAYUR MIDIN: SARAWAK</h1>
          <img src="/assets/sw2.PNG" alt="">
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Bahan-bahan: </ion-label>
           </ion-list-header>
     
           <ion-item>1 ikat midin</ion-item>
           <ion-item>1 ulas bawang merah dan putih</ion-item>
           <ion-item>1/2 genggam bilis </ion-item>
           <ion-item>1 kiub belacan</ion-item>
         </ion-list>
     
         <ion-list>
           <ion-list-header class="ion-text-center">
             <ion-label>Cara-cara: </ion-label>
           </ion-list-header>
     
           <ion-item>1.Tumiskan bawang merah dan putih,bilis dan belacan yang sudah ditumbuk </ion-item><br>
           <ion-item>2.Apabila sudah naik bau,masukkan midin yang sudah dibersihkan.</ion-item><br>
           <ion-item>3.Masukkan secubit perasa.Belacan dah masin ye.So jangan letak banyak</ion-item><br>
           <ion-item>4.Biarkan beberapa minit dan siap!Sedia untuk dihidang</ion-item><br>
           
         </ion-list>
     
         <ion-list>
           <ion-list-header>
             <ion-label>Video tutorial:</ion-label>
           </ion-list-header>
     
           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KuUNm5IruLw" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-list><br>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
         <h1>BUBUR PEDAS: SARAWAK</h1>
         <img src="/assets/sw1.PNG" alt="">
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <ion-label>Bahan-bahan: </ion-label>
          </ion-list-header>
    
          <ion-item>1 bungkus rempah bubur pedas</ion-item>
          <ion-item>1 biji keledek (saiz sederhana)</ion-item>
          <ion-item>250 gram udang (boleh digantikan daging atau ayam)</ion-item>
          <ion-item>3 batang kacang panjang</ion-item>
          <ion-item>1 biji terung panjang, segenggam udang kering2</ion-item>
          <ion-item>3-4 batang jagung muda</ion-item>
          <ion-item>Sedikit cendawan cina ( hitam )</ion-item>
          <ion-item>3 ulas bawang putih</ion-item>
        </ion-list>
    
        <ion-list>
          <ion-list-header class="ion-text-center">
            <ion-label>Cara-cara: </ion-label>
          </ion-list-header>
    
          <ion-item>1.Tumis bawang merah,bawang putih,belacan,udang kering dan cili yang telah ditumbuk halus.</ion-item><br>
          <ion-item>2.Setelah naik bau,masukkan serai,rempah bubur pedas dan air,masak hingga mendidih. Masukkan udang dan kesemua sayur-sayuran . </ion-item><br>
          <ion-item>3.Masukkan santan, akhir sekali masukkan garam dan serbuk perasa.  </ion-item><br>
          <ion-item>4.Masak sehingga agak pekat sedikit barulah dihidangkan. </ion-item><br>
          
        </ion-list>
    
        <ion-list>
          <ion-list-header>
            <ion-label>Video tutorial:</ion-label>
          </ion-list-header>
    
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bvXQYM5UOlA" frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-list><br>
      </ion-card>      
    </ion-slide>
  </ion-slides>
</ion-content>
