<ion-header>
  <ion-toolbar>
    <ion-title>Johor</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]="sliderConfig">
  <ion-slide>
    <ion-card>
      <ion-list>
       <h1>OTAK-OTAK: JOHOR</h1>
       <img src="/assets/j11.jpg" alt="">
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>
  
        <ion-item>3 keping ikan tenggiri atau ikan merah - diambil isinya sahaja dan dicincang halus</ion-item>
        <ion-item>1 sudu teh serbuk ketumbar</ion-item>
        <ion-item>3 batang cili merah - dibuang biji dan dikisar halu</ion-item>
        <ion-item>1 sudu kecil minyak masak</ion-item>
        <ion-item>1L air</ion-item>
        <ion-item>
          175 ml pati santan
        </ion-item>
        <ion-item>
          1 cm kunyit hidup - dikisa
        </ion-item>
      </ion-list>
  
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label>
        </ion-list-header>
  
        <ion-item>1.Satukan semua bahan kecuali isi ikan dan daun kelapa.  </ion-item><br>
        <ion-item>2.Panaskan atas dapur sekejap hingga didih dan pekat kuahnya</ion-item><br>
        <ion-item>3.Bila dah sejuk gaulkan dengan isi ikan tadi</ion-item><br>
        <ion-item>4. Sematkan dengan lidi kemas di kedua-dua hujungnya dan siap boleh disimpan dalam peti sejuk</ion-item><br>
        <ion-item>5.Bakar kedua-dua belah sehingga masak</ion-item><br>
        
      </ion-list>
  
      <ion-list>
        <ion-list-header>
          <ion-label>Video tutorial:</ion-label>
        </ion-list-header>
  
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3kFvfwa6J2Y" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-list><br>
    </ion-card>      
    
  </ion-slide>
</ion-slides>
</ion-content>
