<ion-header>
  <ion-toolbar>
    <ion-title>P E N C U C I M U L U T</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
  <ion-slides [options]="sliderOptions">

   <ion-slide>
     <ion-card>
       <ion-list>
        <h1>WADI KEPENG: SELANGOR</h1>
        <img src="/assets/sel1.PNG" alt="">
       </ion-list>
    
      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>

        <ion-item>1 cawan tepung pulut</ion-item>
        <ion-item>secubit garam</ion-item>
        <ion-item> air secukupnya</ion-item>
        <ion-item>1/2 ketul gula melaka/ gula merah</ion-item>
        <ion-item> 2 cawan santan pekat</ion-item>
        <ion-item>2 helai daun pandan</ion-item>
        <ion-item> sedikit gula</ion-item>
        <ion-item>sedikit garam</ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label><br>
        </ion-list-header>

        <ion-item>1.Masukkan tepung pulut dan secubit garam ke dalam satu bekas</ion-item><br>
        <ion-item>2.Masukkan air sedikit demi sedikit sambil menguli adunan</ion-item><br>
        <ion-item>3.Adunan mesti diuli hingga jadi doh</ion-item><br>
        <ion-item>4.Kemudian bulatkan kecik² dan picit di tengah </ion-item><br>
        <ion-item>5.Masukkan gula melaka, santan, sedikit garam ke dalam periuk.</ion-item><br>
        <ion-item>6.Masukkan daun pandan dan panaskan</ion-item><br>
        <ion-item>7.Agak panas (jangan sampai mendidih) masukkan tepung pulut yang sudah siap dibentuk tadi.</ion-item><br>
        <ion-item>8.Tunggu hingga tepung tadi terapung, bila terapung tepung pulutnya, ini menandakan wadainya sudah masak.</ion-item><br>
        <ion-item>9.Biar hingga mendidih dan jaga jangan sampai pecah minyak</ion-item><br>
        
      </ion-list>

      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Video tutorial: </ion-label><br>
        </ion-list-header>

        <ion-item>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oy_y-Q_dEL4" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
     </iframe>
     </ion-item><br>
      </ion-list>
     </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-list>
       <h1>PEK NGA: KEDAH</h1>
       <img src="/assets/ked1.PNG" alt="">
      </ion-list>

      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Bahan-bahan: </ion-label>
        </ion-list-header>

        <ion-item>300g tepung gandum</ion-item>
        <ion-item>1 biji kelapa parut</ion-item>
        <ion-item>1 sudu besar gula pasir</ion-item>
        <ion-item>1/2 sudu teh garam</ion-item>
        <ion-item>1 sudu teh mentega</ion-item>
        <ion-item>200 ml air</ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header class="ion-text-center">
          <ion-label>Cara-cara: </ion-label>
        </ion-list-header>

        <ion-item>1. Masukkan semua bahan lempeng ke dalam pengisar kecuali mentega. Kisar sehingga halus</ion-item><br>
        <ion-item>2. Panaskan kuali leper dan sapukan sedikit mentega.</ion-item><br>
        <ion-item>3. Tuang satu senduk kecil adunan tepung tadi dan biar masak.</ion-item><br>
        <ion-item>4. Siap untuk dihidangkan.</ion-item><br>
      </ion-list>

      <ion-list>
        <ion-list-header>
          <ion-label>Video tutorial:</ion-label>
        </ion-list-header>

        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CYND9rxlY6Q" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-list><br>
    </ion-card>      
 </ion-slide>

 <ion-slide>
  <ion-card>
    <ion-list>
     <h1>KAYU KERAMAT: TERENGGANU</h1>
     <img src="/assets/t5.PNG" alt="">
    </ion-list>

    <ion-list>
      <ion-list-header class="ion-text-center">
        <ion-label>Bahan-bahan: </ion-label>
      </ion-list-header>

      <ion-item>500g tepung gandum</ion-item>
      <ion-item>1 sudu besar gula pasir</ion-item>
      <ion-item>1/2 sudu teh soda bikarbonat</ion-item>
      <ion-item>1 sudu besar mentega</ion-item>
      <ion-item>200 ml air</ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="ion-text-center">
        <ion-label>Cara-cara: </ion-label>
      </ion-list-header>

      <ion-item>1.Yis segera dibancuh dgn sedikit air suam tadi dan biarkan yis kembang seketika  </ion-item><br>
      <ion-item>2. Bancuh gula dengan air lebihan membancuh yis tadi.</ion-item><br>
      <ion-item>3. Tepung digaulkan dgn planta sehingga sebati kemudian masukkan soda bikabonat dan gaul rata.</ion-item><br>
      <ion-item>4. Kemudian masukkan air gula & yis yg dibancuh td.</ion-item><br>
      <ion-item>5. Uli sehingga doh sebati dan biarkan doh mengembang 1 kali ganda</ion-item><br>
      <ion-item>6.Gorenglah spt dlm gambar tu hingga kuih bertukar warna coklat & hidangkan bersama teh panas  </ion-item><br>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Video tutorial:</ion-label>
      </ion-list-header>

      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zewJrROsYow" frameborder="0"
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-list><br>
  </ion-card>      
</ion-slide>

  </ion-slides>
</ion-content>
