<ion-header>
  <ion-toolbar>
    <ion-title>Pahang</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="softpink">
<ion-slides [options]="sliderConfig">
  <ion-slide>
    <ion-card>
      <ion-list>
        <h1>IKAN PATIN TEMPOYAK: PAHANG</h1>
        <img src="/assets/mel1.PNG" alt="">
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Bahan-bahan: </ion-label>
         </ion-list-header>
   
         <ion-item>1 ekor ikan patin</ion-item>
         <ion-item>1 senduk tempoyak</ion-item>
         <ion-item>1 ikat daun kesum</ion-item>
         <ion-item>1 batang bunga kantan </ion-item>
         <ion-item>7-15 biji cili api</ion-item>
         <ion-item>1 inci kunyit hidup</ion-item>
         <ion-item>air secukupnya</ion-item>
         <ion-item>gula dan garam secukupnya</ion-item>
       </ion-list>
   
       <ion-list>
         <ion-list-header class="ion-text-center">
           <ion-label>Cara-cara: </ion-label>
         </ion-list-header>
   
         <ion-item>1.Masukkan bahan-bahan ke dalam mesin pengisar, dan kisar dengan sedikit air.</ion-item><br>
         <ion-item>2.Dah siap blender, tuang ke dalam periuk. Letakkan sekali daun kesum dan bunga kantan</ion-item><br>
         <ion-item>3.Apabila dah mendidih baru masukkan ikannya. Perasakan dengan gula dan garam.</ion-item><br>
         <ion-item>4.Tunggu sehingga masak.</ion-item><br>
         
       </ion-list>
   
       <ion-list>
         <ion-list-header>
           <ion-label>Video tutorial:</ion-label>
         </ion-list-header>
   
         <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3vo8bGNjQX0" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-list><br>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
