<ion-header>
  <ion-toolbar>
    <img class="ion-text-center" src="/assets/logo.PNG">
    <ion-title></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content color="softpink">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card text-center-padding>
          <img src="/assets/a5.PNG" alt="kelantan">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/kelantan']" color="light">
              KELANTAN
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a8.PNG" alt="terengganu">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/terengganu']" color="light">
              TERENG<br>GANU
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding>
          <img src="/assets/a3.PNG" alt="sabah">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/sabah']" color="light">
              SABAH
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding>
          <img src="/assets/a4.PNG"alt="sarawak" >
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/sarawak']" color="light">
              SARAWAK
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding>
          <img src="/assets/a6.PNG" alt="kedah">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/kedah']" color="light">
              KEDAH
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a12.PNG" alt="n.sembilan">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/nsembilan']" color="light">
              NEGERI<br>SEMBILAN
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a7.PNG"alt="perak" >
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/perak']" color="light">
              PERAK
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a9.PNG" alt="perlis">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/perlis']" color="light">
              PERLIS
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a10.PNG" alt="pahang">
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/pahang']" color="light">
              PAHANG
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a11.PNG"alt="johor" >
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/johor']" color="light">
              JOHOR
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a2.PNG"alt="selangor" >
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/selangor']" color="light">
              SELANGOR
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a13.PNG"alt="pulau pinang" >
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/penang']" color="light">
              PULAU<br>PINANG
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card text-center-padding >
          <img src="/assets/a14.PNG"alt="melaka" >
          <footer>
            <ion-button expand="block" class="ion-no-margin" [routerLink]="['/melaka']" color="light">
              MELAKA
            </ion-button>
          </footer>
        </ion-card>
      </ion-col>
  
    </ion-row>
  </ion-grid>


</ion-content>


